html, body{
  margin: 0;
  padding: 0;
}
.mainContainer{
  height: 100%;
  width: 100%;
  background-color: $basicBackground;
  background: url(../img/back.png);

}
.homeContainer{
  background: $basicBackground;
}
