html, body{
  margin: 0;
  padding: 0;
}

main{
    height: 100%;
}


.mainContainer{
  height: 100%;
  width: 100%;
  background-color: $basicBackground;
  .viewContainer {
    height: 100%;
    width: 100%;
  }
}

.langBtns{
  position: fixed;
  top: 0;
  width: 250px;
  right: 0;
  text-align: right;
}