html, body{
  margin: 0;
  padding: 0;
}

main{
    height: 100%;
}


.mainContainer{
  height: 100%;
  width: 100%;
  background-color: $basicBackground;
  .viewContainer {
    height: 100%;
    width: 100%;
  }
}

.langBtns{
  span{
    color: $white;
  }
  position: fixed;
  z-index: 10;
  top: 0;
  width: 300px;
  right: 0;
  text-align: right;
}

.menuBtn{
  position: fixed;
  width: 200px;
  text-align: left;
  top:0;
  left: 0;
  z-index: 10;
}