//Base variables
//Colors

$basicBackground: #353265;
$white: #FFFFFF;
$black: #000000;
$github: #BBBBBB;
$facebook: #3b5998;
$twitter: #55acee;
$linkedin: #0077B5;
$gplus: #c53929;
$skype: #00AFF0;
$about: #21283b;

//Fonts
$font: 'Raleway', sans-serif;

//media queries
//small-screens
$small: 600px;

