<section class="introContainer" layout="row" layout-xs="column" layout-align="center center">
<!--   <div class="avatar">
      <img ng-src="dist/img/beard.jpg">
  </div>
  <div class="mainTitle">
    <h1 translate="home.info.title"></h1>
    <h2 translate="home.info.subTitle"></h2>
  </div>
  <div class="summary">
    <div translate="home.info.summary1"></div>
    <p translate="home.info.summary2"></p>
  </div>
  <div class="menuHomeBtn">
    <md-button class="md-raised md-primary" ng-click="vm.openMenu()">{{'general.btns.menuHome' | translate}}</md-button>
  </div> -->
  <div class="profilePic"  layout="row" layout-align="center center">
    <img ng-src="dist/img/beard.jpg">
  </div>
  <div layout="column"  layout-align="center center">
     <div class="md-display-3" translate="home.info.title"></div>
     <div class="md-display-4" translate="home.info.subTitle"></div>
  </div>
</section>

